@charset "utf-8";
/* CSS Document */
body {
   background-image: url(Images/PJ_bg_opt_01.jpg);
   background-size: cover;
   font-family:'Comfortaa', sans-serif;
}

#container {
    width: 100%;
    height: 990px;
    margin-left: auto;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: darkblue;
}

h1 {
    margin: 0;
    background-color: #C278C4
}

h2 {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

h3 {
    margin: 0px;
    text-align: center;
}

.flex-container4 {
    display: block;
}

.nav {
    width: 100%;
    background-color: #C278C4;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.nav a {
    display: block;
    color: cornflowerblue;
    text-align: center;
    text-decoration: none;
    margin-right: 15px;
    line-height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav img {
    width: 18%;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav ul {
    width: 100%;
    float: left;
    list-style: none;
    background-color: transparent;
    display: block;
}

.nav ul li {
    display: block;
    float: right;
    list-style: none;
    position: relative;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: auto;
    padding: 10px;
}

.nav ul li a {
    display: block;
    color: darkblue;
    font-size: 25px;
    vertical-align: middle;
    text-decoration: none;
}

.nav ul li a:hover {
    color: #FF9C9C;
}

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: azure;
    padding: 10px;
    border-radius: 0px 0px 9px 9px;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: darkblue;
    padding: 10px;
    border-radius: 0px 0px 9px 9px;
    z-index: 100;
}

.nav ul li ul li {
    padding: 10px 14px;
}

.nav ul li ul li a {
    color: cadetblue;
}

.nav ul li ul li a:hover {
    color: darkgray;
}

.flex-container3 {
    width: 70%;
    max-width: 940px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF9C9C;
    align-content: center;
    display: flex;
    padding: 10px;
    border-radius: 0px 0px 0px 0px;
}

.flex-container3 img {
    align-content: center;
    width: 60%;
    max-width: 100%;
    height: auto;
    display: block;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF9C9C;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    width: 70%;
    max-width: 940px;
    align-content: center;
    background-color: #FF9C9C;
    justify-content: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 0px 0px 9px 9px;
}

.flex-container>div {
    background-color: #FF9C9C;
    color: aliceblue;
    width: 100%;
    margin: 10px;
    text-align: left;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 110px;
}

.flex-container li {
    list-style: none;
}

.flex-container li h3 {
    color: white;
}

.flex-container li h3:hover {
    color: darkblue;
}

.Form {
    margin-left: auto;
}

.footer {
    background-color: #C278C4;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flex-container2 {
    width: 100%;
    background-color: transparent;
    line-height: 35px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.footer d1 {
    float: right;
    list-style: none;
    position: relative;
}

.footer h3 {
    color: white;
}

.footer d1 dt {
    float: left;
    list-style: none;
    position: relative;
    display: block;
    font-family: arial;
    font-size: 14px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: darkblue;
}

.footer d1 dd {
    float: right;
    list-style: none;
    position: relative;
    display: list-item;
    font-family: arial;
    font-size: 11px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    color: darkblue;
}

.footer d2 {
    float: right;
    list-style: none;
    position: relative;
}

.footer d2 dt {
    float: left;
    list-style: none;
    position: relative;
    display: block;
    font-family: arial;
    font-size: 14px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: darkblue;
}

.footer d2 dd {
    float: right;
    list-style: none;
    position: relative;
    display: list-item;
    font-family: arial;
    font-size: 11px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    color: darkblue;
}

table {
    float: left;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 25%;
    margin-right: 15%;
}

th {
    font-size: 16px;
    color: darkblue;
    text-align: center;
}

td {
    font-size: 12px;
    color: darkblue;
    text-align: center;
}

td a {
    color: darkblue;
}

td a:hover {
    color: #FF9C9C;
}