@charset "utf-8";
/* CSS Document */
body {
   background-image: url(Images/PJ_bg_opt_01.jpg);
   background-size: cover;
   font-family:'Comfortaa', sans-serif;
}

#container {
    width: 100%;
    height: 990px;
    margin-left: auto;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
    background-color: #C278C4
}

h2 {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

h3 {
    margin: 0px;
    text-align: center;
}

.header {
    background-color: #C278C4;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #C278C4;
    
}

.content {
    padding: 0px;
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    width: 100%;
    background-color: transparent;
    line-height: 35px;
    float: left;
}

.nav a {
    display: block;
    color: cornflowerblue;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.nav ul {
    float: right;
    list-style: none;
    position: relative;
    align-content: center;
}

.nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

.nav ul li a {
    display: block;
    color: darkblue;
    font-size: 20px;
    padding-top: 15px; 
    padding-bottom: 0px;
    padding-left: 20px; 
    padding-right: 20px;
    text-decoration: none;
}

.nav ul li a:hover {
    color: #FF9C9C;
}

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: azure;
    padding: 10px;
    border-radius: 0px 0px 9px 9px;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: darkblue;
    padding: 10px;
    border-radius: 0px 0px 9px 9px;
}

.nav ul li ul li {
    padding: 10px 14px;
}

.nav ul li ul li a {
    color: cadetblue;
}

.nav ul li ul li a:hover {
    color: darkgray;
}

.flex-container3 {
    width: 70%;
    max-width: 100%;
    height: auto;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF9C9C;
    align-content: center;
    display: block;
    padding: 10px;
    border-radius: 0px 0px 0px 0px;
}

.flex-container3 img {
    align-content: center;
    width: 60%;
    max-width: 100%;
    height: auto;
    display: block;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF9C9C;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    width: 70%;
    align-content: center;
    background-color: #FF9C9C;
    justify-content: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 0px 0px 9px 9px;
}

.flex-container>div {
    background-color: #FF9C9C;
    color: aliceblue;
    width: 100%;
    margin: 10px;
    text-align: left;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.flex-container li {
    list-style: none;
}

.flex-container li h3 {
    color: white;
}

.flex-container li h3:hover {
    color: darkblue;
}

.Form {
    margin-left: auto;
}

.footer {
    background-color: #FF9C9C;
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: 600px;
}

.flex-container2 {
    width: 100%;
    background-color: transparent;
    line-height: 35px;
    float: left;
}

.footer d1 {
    float: right;
    list-style: none;
    position: relative;
}

.footer d1 dt {
    float: left;
    list-style: none;
    position: relative;
    display: block;
    font-family: arial;
    font-size: 14px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: darkblue;
}

.footer d1 dd {
    float: right;
    list-style: none;
    position: relative;
    display: list-item;
    font-family: arial;
    font-size: 11px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    color: darkblue;
}

.footer d2 {
    float: right;
    list-style: none;
    position: relative;
}

.footer d2 dt {
    float: left;
    list-style: none;
    position: relative;
    display: block;
    font-family: arial;
    font-size: 14px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: darkblue;
}

.footer d2 dd {
    float: right;
    list-style: none;
    position: relative;
    display: list-item;
    font-family: arial;
    font-size: 11px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    color: darkblue;
}

table {
    float: right;
    border-collapse: collapse;
}

th {
    font-size: 16px;
    color: darkblue;
    text-align: center;
}

td {
    font-size: 12px;
    color: darkblue;
    text-align: center;
}